<div class="about-me container-fluid d-flex justify-content-around">
  <div class="photo">
    <img src="../../assets/img/primo-piano.jpg" alt="primo-piano">
  </div>
  <div class="hero d-flex flex-column align-items-center justify-content-center gap-4 pe-5">
    <div>
      <h1>Hi, it's FABIO ARANZULLA</h1>
    </div>
    <div>
      <h3>Web developer</h3>
    </div>
    <div class="button-hero d-flex justify-content-center gap-4">
      <button type="button" class="p-3">CONTACT ME</button>
      <button type="button" class="p-3">DOWNLOAD CV</button>
    </div>
  </div>
</div>
