<section class="skills d-flex flex-column pt-5">
  <div class="skills-title">
    <h1 class="text-center">Skills</h1>
  </div>
  <div class="container skills-info pt-5">
    <div class="row">
      <div class="col-md-6 text-center skills-hard">
        <h2>Front-End</h2>
        <div>
          <img src="../../assets/img/html.png" alt="">
          <img src="../../assets/img/css.png" alt="">
        </div>
      </div>
      <div class="col-md-6 text-center skills-hard">
        <h2>Back-End</h2>
      </div>
    </div>
  </div>
</section>
